			<!-- CALENDER -->
			<div class="module bottom-center">
			    <div class="border-bottom padding-bottom margin-bottom"><i class="ion-ios7-bell-outline"></i> {{calendarData.summary}}</div>
				<table class="smaller">
					<tbody>
						<tr ng-repeat-start="event in calendarData.items">
							<td class="event truncate">{{event.summary}}</td>
						</tr>
						<tr ng-repeat-end>
							<td class="date lighter padding-bottom smaller">
									<span ng-if="event.start.dateTime">
										{{ event.start.dateTime | date: 'EEE MMM d @ h:mm a' }}
									</span>
									<span ng-if="event.start.date">
										{{ event.start.date | date: 'EEE MMM d' }}
									</span>
							</td>
						</tr>
						<tr ng-hide="calendarData.items.length">
							<td class="event smaller"><i class="ion-ios7-close-outline"></i> No Upcoming Events</td>
						</tr>
					</tbody>
				</table>
			</div>